<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <h1><%= image_tag 'image.png', class: 'logo' %></h1>
      <br><%= link_to 'Top Page', root_path, class: 'Top-Page' %></br>

    <%= yield %>
  </div>
  </body>
</html>
